:root {
  color-scheme: dark;
}

body {
  display: flex;
  margin: 0 10vw;
  background-color: #1e2326;
  text-align: justify;
}

h1 {
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 800px;
  color: #d3c6aa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-family: "Courier Prime", monospace;
}

.date {
  margin: 0;
  color: #4f5b58;
  font-family: "Cutive Mono", monospace;
}

.altText {
  display: block;
  text-align: center;
}

a {
  animation: gradient-text 5s infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  color: #e67e80;
  font-family: "Jetbrains Mono", monospace;
  text-decoration: none;
}

.indexLink {
  animation-direction: alternate-reverse;
}

a:not(:has(img)):hover {
  animation: 0;
  background: #7fbbb3;
  color: #1e2326;
}

.pic {
  display: block;
  margin: 15px auto;
  border: 5px solid #4f5b58;
  padding: 5px;
  max-width: 400px;
}

p {
  line-height: 24px;
  font-family: "Jetbrains Mono", monospace;
}

i {
  color: #83c092;
}

#bold {
  color: #d699b6;
  font-weight: bolder;
}

strong {
  background-image: linear-gradient(#83c092, #7fbbb3);
  background-clip: text;
  color: #0000;
}

small {
  color: #9da9a0;
  font-size: 10px;
}

sub {
  color: #7a8478;
}

em {
  color: #e67e80;
}

ul {
  list-style-type: none;
}

#sidebar {
  position: sticky;
  top: 10vh;
  flex-direction: column;
  animation: fade-in 2s;
  margin: 0 5vw;
  max-width: 275px;
  height: fit-content;
}

::selection {
  background: #7fbbb3;
  color: #1e2326;
}

/* NProgress */

#nprogress .bar {
  background: #83c092;
}

#nprogress .peg {
  box-shadow: 0 0 10px #83c092, 0 0 5px #83c092;
}

/* Animations */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes gradient-text {
  0% {
    color: #e67e80;
  }

  15% {
    color: #e69875;
  }

  30% {
    color: #dbbc7f;
  }

  45% {
    color: #a7c080;
  }

  60% {
    color: #83c092;
  }

  75% {
    color: #7fbbb3;
  }

  90% {
    color: #d699b6;
  }

  100% {
    color: #d3c6aa;
  }
}

/* Media queries */

@media screen and (width <= 600px) {
  body {
    flex-wrap: wrap;
  }
}

/* Fonts */

@font-face {
  src: url("/assets/fonts/CutiveMono-Regular.ttf");
  font-family: "Cutive Mono";
  font-display: swap;
}

@font-face {
  src: local("Jetbrains Mono"),
    url("/assets/fonts/Jetbrains/JetBrainsMonoNerdFontMono-Regular.ttf");
  font-family: "Jetbrains Mono";
  font-display: swap;
}

@font-face {
  src: url("/assets/fonts/CourierPrime-Regular.ttf");
  font-family: "Courier Prime";
  font-display: swap;
}
