---
import Button from "@components/MainPage/Button.astro";
import Main from "@layouts/Main.astro";
const props = {
  title: "Gallery of Gooner",
  desc: "we gooning",
  keywords: "lel, nekoweb, website, button, buttons, gallery",
  imageUrl: "/images/meow-neko-arc.gif",
  imageWidth: 1024,
  imageHeight: 1024,
  imageAlt: "",
  accent: "#cba6f7",
};
---

<Main {...props}>
  <h1>Gooners.</h1>

  <p>
    I used to have these buttons on my other pages along with the regular
    buttons but I guess its not that great of an idea
  </p>

  <div id="goonbutts">
    <a href="/buttons/"
      ><Button
        loading="eager"
        src="/images/buttons/subahibibutton1.png"
        title="Subahibi"
        alt="Subarashiki Hibi"
      /></a
    >
    <a href="/buttons/"
      ><Button
        loading="eager"
        src="/images/buttons/subahibibutton2.png"
        title="Subahibi"
        alt="Subarashiki Hibi"
      /></a
    >
    <a href="/buttons/"
      ><Button
        loading="eager"
        src="/images/buttons/butt on.png"
        title="Butt On"
        alt="Butt On"
      /></a
    >
    <a href="https://trademarkhell.net" target="_blank"
      ><Button
        loading="eager"
        src="/images/buttons/LIES.png"
        title="LIESSSSS THEY WERE ALL LIES"
        alt="lyes"
      /></a
    >
    <br /><br />
    <!-- <a href="https://cyber.dabamos.de/88x31/" target="_blank"
        ><Button
          loading="eager"
          src="https://zanarkand.neocities.org/foryou/fubutton31.png"
          title="HENTAI FREE"
          alt="no hentai button"
        /></a
      >
      <a href="https://cyber.dabamos.de/88x31/" target="_blank"
        ><Button
          loading="eager"
          src="https://zanarkand.neocities.org/foryou/fubutton14.png"
          title="Panties shimapan"
          alt="shimapan Button"
        /></a
      >
      <a href="https://cyber.dabamos.de/88x31/" target="_blank"
        ><Button
          loading="eager"
          src="https://cyber.dabamos.de/88x31/lolicon14.gif"
          title="Lolicon Butt"
          alt="Lolicon Button"
        /></a
      >
      <a href="https://cyber.dabamos.de/88x31/" target="_blank"
        ><Button
          loading="eager"
          src="https://cyber.dabamos.de/88x31/lolicon15.gif"
          title="Lolicon Butt"
          alt="Lolicon Button"
        /></a
      >
      <a href="https://cyber.dabamos.de/88x31/" target="_blank"
        ><Button
          loading="eager"
          src="https://cyber.dabamos.de/88x31/nanoha.gif"
          title="Nanoha"
          alt="Nanoha Button"
        /></a
      >
      <a href="https://cyber.dabamos.de/88x31/" target="_blank"
        ><Button
          loading="eager"
          src="https://cyber.dabamos.de/88x31/notall.gif"
          title="Not all"
          alt="Not all Button"
        /></a
      >
      <a href="https://cyber.dabamos.de/88x31/" target="_blank"
        ><Button
          loading="eager"
          src="https://cyber.dabamos.de/88x31/nya2.gif"
          title="Nya"
          alt="Nyaa Button"
        /></a
      >
      <a href="https://cyber.dabamos.de/88x31/" target="_blank"
        ><Button
          loading="eager"
          src="https://cyber.dabamos.de/88x31/rorikon.gif"
          title="Rorikon"
          alt="Lolicon Button"
        /></a
      >
      <a href="https://cyber.dabamos.de/88x31/" target="_blank"
        ><Button
          loading="eager"
          src="https://cyber.dabamos.de/88x31/sunaneko.gif"
          title="Kemono Friends"
          alt="Kemono Button"
        /></a
      >
      <a href="https://cyber.dabamos.de/88x31/" target="_blank"
        ><Button
          loading="eager"
          src="https://cyber.dabamos.de/88x31/softcute.gif"
          title="Soft & Cute"
          alt="Soft and cute button"
        /></a
      >
      <a href="https://cyber.dabamos.de/88x31/" target="_blank"
        ><Button
          loading="eager"
          src="https://cyber.dabamos.de/88x31/underwear.gif"
          title="Underwear"
          alt="Anime underwear Button"
        /></a
      > -->
    <a href="https://lel.nekoweb.org/" target="_blank"
      ><Button
        loading="eager"
        src="/images/buttons/freak/fubutton31.png"
        title="HENTAI FREE"
        alt="no hentai button"
      /></a
    >
    <a href="https://lel.nekoweb.org/" target="_blank"
      ><Button
        loading="eager"
        src="/images/buttons/freak/fubutton14.png"
        title="Panties shimapan"
        alt="shimapan Button"
      /></a
    >
    <a href="https://lel.nekoweb.org/" target="_blank"
      ><Button
        loading="eager"
        src="/images/buttons/freak/lolicon14.gif"
        title="Lolicon Butt"
        alt="Lolicon Button"
      /></a
    >
    <a href="https://lel.nekoweb.org/" target="_blank"
      ><Button
        loading="eager"
        src="/images/buttons/freak/lolicon15.gif"
        title="Lolicon Butt"
        alt="Lolicon Button"
      /></a
    >
    <a href="https://lel.nekoweb.org/" target="_blank"
      ><Button
        loading="eager"
        src="/images/buttons/freak/nanoha.gif"
        title="Nanoha"
        alt="Nanoha Button"
      /></a
    >
    <a href="https://lel.nekoweb.org/" target="_blank"
      ><Button
        loading="eager"
        src="/images/buttons/freak/notall.gif"
        title="Not all"
        alt="Not all Button"
      /></a
    >
    <a href="https://lel.nekoweb.org/" target="_blank"
      ><Button
        loading="eager"
        src="/images/buttons/freak/nya2.gif"
        title="Nya"
        alt="Nyaa Button"
      /></a
    >
    <a href="https://lel.nekoweb.org/" target="_blank"
      ><Button
        loading="eager"
        src="/images/buttons/freak/rorikon.gif"
        title="Rorikon"
        alt="Lolicon Button"
      /></a
    >
    <a href="https://lel.nekoweb.org/" target="_blank"
      ><Button
        loading="eager"
        src="/images/buttons/freak/sunaneko.gif"
        title="Kemono Friends"
        alt="Kemono Button"
      /></a
    >
    <a href="https://lel.nekoweb.org/" target="_blank"
      ><Button
        loading="eager"
        src="/images/buttons/freak/softcute.gif"
        title="Soft & Cute"
        alt="Soft and cute button"
      /></a
    >
    <a href="https://lel.nekoweb.org/" target="_blank"
      ><Button
        loading="eager"
        src="/images/buttons/freak/underwear.gif"
        title="Underwear"
        alt="Anime underwear Button"
      /></a
    >
  </div>
</Main>

<style>
  #goonbutts {
    overflow: auto;

    width: 90px;
    margin: 20px 0;
    padding: 10px;
    border: 5px double var(--foreground);

    text-align: center;

    transition: 0.5s;
  }

  #goonbutts:hover {
    border: 5px double var(--accent);
    transition: 0.5s;
  }
</style>
