---
import Main from "@layouts/Main.astro";
const props = {
  title: "NSFW Warning",
  desc: "NSFW shi ahead",
  keywords: "lel, nekoweb, website, button, buttons, gallery",
  imageUrl: "/images/meow-neko-arc.gif",
  imageWidth: 1024,
  imageHeight: 1024,
  imageAlt: "",
  accent: "#cba6f7",
};
---

<Main {...props}>
  <h1>Warning</h1>

  <p>
    Goonerville is where most of the NSFW stuff has been moved to, so its
    obviously NSFW. So of course dont go further if you want to avoid NSFW.
  </p>

  <a href="main">Continue</a>
</Main>
