---
import Main from "@layouts/Main.astro";
const props = {
  title: "Gallery of Gooner",
  desc: "we gooning",
  keywords: "lel, nekoweb, website, button, buttons, gallery",
  imageUrl: "/images/meow-neko-arc.gif",
  imageWidth: 1024,
  imageHeight: 1024,
  imageAlt: "",
  accent: "#cba6f7",
};
---

<Main {...props}>
  <h1>Gooners.</h1>
</Main>
