---
import BlogLayout from "@components/Blog/BlogLayout.astro";
const title = "Archive";
const desc = "This is the Archive";
---

<BlogLayout {title} {desc}>
  <header>
    <h1>{title}</h1>
    <p class="date"></p>
  </header>
  <p style="width: 100vw;">
    All my old blogs that I dont want on the main page
  </p>
</BlogLayout>

<script>
  const today = new Date().toLocaleDateString();
  document.querySelector(".date")!.textContent = `Today is ${today}`;
</script>
