---
import Main from "@layouts/Main.astro";

const props = {
  title: "About {site,me,others}",
  desc: "Information about the site and related stuff",
  keywords: "lel, nekoweb, website, about",
  imageUrl: "/images/opengraph/dithered.png",
  imageWidth: 1200,
  imageHeight: 675,
  imageAlt: "Saint Lel",
  accent: "#cba6f7",
};
---

<Main {...props}>
  <h1>About...</h1>
  <h2>...the site</h2>
  <p>
    Uh I don't know what to tell you I just post random stuff here, I used to
    have a different layout which I'll post and link after I'm done with this
    one.
    <br />Other than that, this is just a site I made for fun. This layout was <em
      style="white-space: nowrap;"
    >
      """heavily inspired"""</em
    >
    by the Spotify/Discord <a
      href="https://github.com/refact0r/system24"
      target="_blank"
      rel="noopener noreferrer">System24 theme.</a
    >
    <br />
    <br />
    Other than that the sites made with Astro, no front-end frameworks like react
    or svelte, and VSCode my beloved. This site is open-source for all thats worth,
    and you can view its source at <a
      href="https://github.com/LelIllumina/Lelillumina.github.io/"
      target="_blank"
      rel="noopener noreferrer">the GitHub repository.</a
    >
  </p>
  <h2>...me</h2>
  <p>
    I am a black individual residing in North Carolina, I live in a low income
    housing environment that goes by the government name of "Section 8." <br /> On
    week days my 9-to-5 consists of having 10 bitches on my dick on company time.
    On weekends, me and a group of my allies manage and run our illegitimate business.
    <br />We possess unregistered firearms, stolen vehicles, mind-altering
    inhibitors and only use cash for financial purchases. <br /> If anyone would
    like to settle unfinished altercations, I will be more than happy to release
    my address. <br /> I would like to warn you; I am a very dangerous person and
    I regularly disobey the law.
  </p>
  <p>JK that's just a copy pasta, I'm lel, and I procrastinate 24/7.</p>
  <h2>...others</h2>
  <p>
    from others, I mean credits to stuff ive used, you can view a list on this
    sites github repo
  </p>
</Main>
