---
import Main from '@layouts/Main.astro'

const props = {
  title: 'About {site,me,others}',
  desc: 'Information about the site and related stuff',
  keywords: 'lel, nekoweb, website, about',
  imageUrl: '/src/assets/images/opengraph/dithered.png',
  imageWidth: 1200,
  imageHeight: 675,
  imageAlt: 'Saint Lel',
  accent: '#cba6f7',
}
---

<Main {...props}>
  <h1>About...</h1>
  <h2>...the site</h2>
  <p>
    Uh idk what to tell you I just post random stuff here, I used to have a
    different layout which I'll post and link after I'm done with this one.
    <br />Other than that, this is just a site I made for fun. This layout was <em
      >"""heavily inspired"""</em
    > by the Spotify/Discord <a
      href="https://github.com/refact0r/system24"
      target="_blank"
      rel="noopener noreferrer">System24 theme.</a
    >
  </p>
</Main>
