---
import { Image } from "astro:assets";
import Main from "@layouts/Main.astro";

const props = {
  title: "CSS Userstyles/themes",
  desc: "Stylus themes ive made, rip old layout",
  keywords: "lel, nekoweb, website, neco arc, gooning, NSFW, stuff, css, stylus, userstyles, css themes",
  imageUrl: "/images/opengraph/kidnap.gif",
  imageWidth: 600,
  imageHeight: 338,
  imageAlt: "Me when i kidnap you",
  accent: "#cba6f7",
};
---

<Main {...props}>
  <h1>Nekoweb:</h1>
  <br />
  <div>
    <div class="theme">
      <Image
        src="https://lel.hadsex.today/6VyzBMmLo.png"
        alt="Pekoweb"
        width="300"
        height="168"
      />
      <h2>
        <a href="https://userstyles.world/style/18724/pekoweb">Pekoweb</a>
      </h2>
    </div>
  </div>
</Main>

<style>
  .theme {
    width: fit-content;
    padding: 10px;
    border: 5px solid var(--text-darker);
    background: var(--foreground);

    h2 {
      text-align: center;

      a {
        color: var(--accent);
        text-decoration: none;
      }
    }
  }
</style>
