{
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "plugins": [
    "@prettier/plugin-xml",
    "prettier-plugin-package",
    "prettier-plugin-embed",
    "prettier-plugin-organize-attributes"
  ]
}
