.site-box {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(//nekoweb.org/site/lel/files/images/Necobox.gif);
  background-size: cover;
  border-radius: 3px;
  text-align: right;
}
.site-box::after {
  content: url(//nekoweb.org/site/lel/files/images/neco_blast.png);
  position: relative;
  bottom: 190px;
  right: 15px;
  display: block;
  height: 195px;
  width: 195px;
  transition: transform 1.5s;
}
.site-box .sitefeature {
  height: 138px;
  width: 245px;
  border: 1px solid #ecbfa6;
  left: 5px;
  bottom: 5px;
}
.site-box > a > p {
  color: #cdd6f4;
  margin-right: 6px;
  font-size: 17px;
}
.site-box > a > span {
  color: #cdd6f4;
  margin-right: 10px;
}
.site-box .follow {
  content: url(https://lel.nekoweb.org/images/neicon_arc.jpg);
  height: 30px;
  float: right;
  clear: right;
  margin: 1px;
}
.site-box:hover:after {
  transform: translate(90px, -9px) rotate(10deg);
}
