.site-box {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(//nekoweb.org/site/lelillumina/files/images/Necobox.jpg);
  background-size: cover;
}
.site-box::after {
  content: url(//nekoweb.org/site/lelillumina/files/images/neco_blast.png);
  position: relative;
  bottom: 180px;
  display: block;
  height: 195px;
  width: 195px;
}
.site-box > a > p {
  color: #cdd6f4;
  font-weight: normal;
}
.site-box > a > span {
  color: #cdd6f4;
}
