songBox {
  background-image: url(https://lel.nekoweb.org/images/CC/R.jpg);
  border: 3px inset #40a02b;
  outline: 3px outset green;
  background-size: cover;
}

trackInfo {
  width: fit-content;
}

trackCover {
  height: 150px;
  float: left;
  content: url(https://lel.nekoweb.org/images/CC/C.C.gif);
}

trackName {
  color: #080808;
  font-size: 2vmin;
  font-weight: bold;
}

artistName {
  color: #a6adc8;
  font-size: 1vmax;
  margin: 5px auto;
}

searchButton {
  color: #232d30;
  background: #55a66d;
  font-size: 1vmax;
  padding: 4px;
  text-decoration: none;
}
