.trackInfo {
  width: fit-content;
}

.trackCover {
  height: 150px;
  float: left;
  margin-bottom: 15px;
}

.trackName {
  font-size: 2vmin;
  font-weight: bold;
}

.artistName {
  font-size: 1vmax;
  margin: 5px auto;
}

.searchButton {
  color: #fff;
  background: #303030;
  font-size: 1vmax;
  padding: 4px;
  text-decoration: none;
}
