songBox {
  background-image: linear-gradient(#1e1e2ebd, #11111bf5),
    url(https://lel.nekoweb.org/images/twirly.png);
  border: 5px ridge #cba6f7;
  background-size: cover;
  /* transition: 1s;
   width: calc(100% - 45px);
  height: calc(100% - 45px); */
}

/* songBox:hover {
  height: calc(100% - 30px);
  width: calc(100% - 30px);
} */

siteName {
  margin: auto;
  color: #a6adc8;
  font-size: 1.5vmin;
}

trackInfo {
  width: fit-content;
}

trackCover {
  height: 150px;
  float: left;
}

trackName {
  color: #cdd6f4;
  font-size: 2vmin;
  font-weight: bold;
}

artistName {
  color: #a6adc8;
  font-size: 1vmax;
  margin: 5px auto;
}

searchButton {
  color: #a6adc8;
  background: #313244;
  font-size: 1vmax;
  padding: 4px;
  text-decoration: none;
}
