/* Color Vars */
:root {
  color-scheme: dark;
  --text: #cdd6f4;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

/* Viewport stuff*/
html,
body {
  height: 100%;
}

/* Neco arc Background and Footer */
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/background.png) repeat;
  animation: moveBackground 100s linear infinite;
  margin: 0;
  background-color: var(--base);
}

/* Text formating*/
h1 {
  font-family: "VT323", Sans-Serif;
  font-size: 48px;
  background-image: -webkit-linear-gradient(#cba6f7, #eac3be);
  background-image: -moz-linear-gradient(#cba6f7, #eac3be);
  background-image: -o-linear-gradient(#cba6f7, #eac3be);
  background-image: linear-gradient(#cba6f7, #eac3be);
  background-clip: text;
  color: #00000000;
  margin: auto;
}

h2 {
  font-family: "Barlow", Sans-Serif;
  color: var(--text);
  text-shadow: 1px 1px #cba6f7;
  font-size: 20px;
  text-align: center;
  margin-top: auto;
  margin-bottom: 10px;
}

ul,
li,
p,
a {
  font-family: "Barlow Semi Condensed", Sans-Serif;
  font-size: 14px;
  color: var(--text);
}

ul {
  list-style-type: circle;
  margin: auto;
  padding-left: 20px;
}

a {
  color: #89b4fa;
  text-decoration: none;
}

.title {
  font-family: "Honk", fantasy;
  font-size: 40px;
  margin: 10px;
}

.alt {
  font-size: 10px;
  text-align: center;
  color: var(--text);
}

.hidden {
  color: #bac2de;
}

/*Main body CSS*/

header {
  background-color: var(--crust);
  border: 10px double var(--base);
  padding: 10px;
  margin: 3px auto;
  width: 90%;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar > div {
  width: 150px;
}

.block {
  background-color: var(--base);
  padding: 20px;
  border: 8px solid var(--mantle);
  margin: 5px;
}

#pfp {
  height: 100px;
  display: block;
  margin: auto;
  border: 5px dashed #313244;
}

#frame {
  width: 460px;
  text-align: center;
}

#VCR {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  border: 5px dashed #313244;
}

#lastfm {
  height: auto;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  margin-bottom: 20px;
}

#nekowebring table {
  background: linear-gradient(#303446, #292c3c, #232634);
  border: #626880 2px solid;
}

#to-do {
  margin-top: 150px;
}

footer {
  background-color: var(--base);
  text-align: center;
  padding: 18px;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #6c7086;
}
::-webkit-scrollbar-thumb {
  background: #585b70;
}
::-webkit-scrollbar-thumb:hover {
  background: #45475a;
}
::-webkit-scrollbar-thumb:active {
  background: #313244;
}

/* Text Selection */

::selection {
  color: var(--base);
  background: #89b4fa;
}

/* Mobile Responsiveness */
@media (min-width: 601px) and (max-width: 900px) {
  #frame {
    width: 35vw;
  }
  .sidebar > div {
    width: 15vw;
  }
  #pfp {
    width: 10vw;
    height: 10vw;
  }
}

@media (max-width: 600px) {
  main {
    flex-direction: column;
  }
  .sidebar {
    margin: auto;
  }
  .sidebar > div {
    width: 40vw;
  }
  #frame {
    width: auto;
  }
  #to-do {
    margin: auto;
  }
}

/* Animation */

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
