/* Import Font */
@import url("/assets/fonts/mainpage/fonts.css");

/* Color Vars */
:root {
  color-scheme: dark;

  --text: #cdd6f4;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

* {
  box-sizing: border-box;
}

/* Neco arc Background and Footer placement */
body {
  background:
    linear-gradient(#00000080, #00000080),
    url("/images/mainPage/background.png") repeat;
  background-attachment: fixed;
  animation: move-background 100s linear infinite;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--base);
  overflow-x: hidden;
}

/* Text formating */
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: var(--text);
  text-shadow: 1px 1px #cba6f7;
  margin: 10px auto;
  text-align: left;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  color: var(--text);
  text-shadow: 1px 1px #cba6f7;
  font-size: 20px;
  text-align: center;
  margin-top: auto;
  margin-bottom: 10px;
}

ul,
li,
p {
  font-family: Raleway, sans-serif;
  font-size: 13px;
  color: var(--text);
}

li {
  margin: 10px auto;
}

a {
  color: #89b4fa;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

a:hover {
  color: #89dceb;
}

#frame p {
  text-align: justify;
  font-size: 18px;
}

ul {
  list-style-type: circle;
  margin: auto;
  padding-left: 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(var(--crust), var(--mantle));
}

.navbar li {
  display: inline;
  float: left;
  margin: auto;
}

.navbar a {
  display: block;
  color: var(--text);
  text-align: center;
  padding: 14px 25px;
}

.navbar li a:hover {
  background-color: var(--mantle);
  transition: 0.5s;
}

.title {
  font-family: "Bungee Spice", fantasy;
  font-size: 40px;
  margin: 10px;
}

.alt {
  font-size: 10px;
  text-align: center !important;
  color: var(--text);
}

/* Main body CSS */

header {
  margin: 5px auto 10px;
  width: 75%;
  text-align: center;
  background-color: var(--crust);
  box-shadow: 0 3px 8px black;
}

#header {
  padding: 10px;
  background-image: linear-gradient(var(--mantle), var(--crust));
  overflow: hidden;
}

.marquee {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  animation:
    marquee 5s ease 1s,
    marquee-loop 0s ease 6s forwards;
  left: 100%;
}

#tagline {
  position: absolute;
  font-family: Monocraft, monospace;
  color: #ff0;
  text-shadow:
    0 0 10px black,
    0 0 10px black;
  background-color: transparent;
  left: 75%;
  top: 100px;
  font-size: 20px;
  transform: rotate(-20deg);
  width: fit-content;
  animation: subtitle 0.25s infinite alternate;
}

main {
  display: flex;
  justify-content: center;
  flex: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar > div {
  width: 200px;
}

.block {
  background-color: var(--base);
  padding: 20px;
  border: 8px solid var(--mantle);
  margin: 5px;
  box-shadow: 0 0 10px black;
}

.img {
  max-width: 100%;
  max-width: -moz-available;
  max-width: -webkit-fill-available;
  height: fit-content;
  border: 5px dashed #313244;
  margin: auto;
  display: block;
}

#buttons {
  text-align: center;
  image-rendering: pixelated;
}

#buttons img {
  width: 88px;
  height: 31px;
}

#frame {
  width: 600px;
  text-align: center;
}

/* stylelint-disable-next-line selector-id-pattern */
#trackInfo {
  margin-top: 18px;
}

#scrobbled {
  text-align: center;
}

#nekowebring table {
  background: linear-gradient(#303446, #292c3c, #232634);
  border: #626880 2px solid;
}

footer {
  background-color: var(--base);
  text-align: center;
  padding: 18px;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #6c7086;
}

::-webkit-scrollbar-thumb {
  background: #585b70;
}

::-webkit-scrollbar-thumb:hover {
  background: #45475a;
}

::-webkit-scrollbar-thumb:active {
  background: #313244;
}

/* Text Selection */

::selection {
  color: var(--base);
  background: #89b4fa;
}

/* Mobile Responsiveness */

@media (width >= 601px) and (width <= 900px) {
  #frame {
    width: 35vw;
  }

  .sidebar > div {
    width: 15vw;
  }

  #pfp {
    width: 10vw;
    height: 10vw;
  }
}

@media (width <= 600px) {
  main {
    flex-direction: column;
  }

  .sidebar {
    margin: auto;
    order: 1;
  }

  .sidebar > div {
    width: 80%;
  }

  #frame {
    width: auto;
  }

  .block iframe,
  .block img {
    margin: auto;
  }
}

/* Animation */

@keyframes move-background {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 100%;
  }
}

@keyframes marquee {
  0% {
    left: 100%;
  }

  100% {
    left: 0;
  }
}

@keyframes marquee-loop {
  0% {
    left: 0;
  }

  100% {
    left: 0;
  }
}

@keyframes subtitle {
  0% {
    transform: scale(0.875) rotate(-20deg);
  }

  100% {
    transform: scale(1) rotate(-20deg);
  }
}
