---
import Image from "astro:assets";
import Main from "@layouts/Main.astro";

const props = {
  title: "Gallery of Alexandria",
  desc: "nvm its just lel",
  keywords: "lel, nekoweb, website, button, buttons, gallery",
  imageUrl: "/images/dimden/aryanDimden.png",
  imageWidth: 1024,
  imageHeight: 1024,
  imageAlt: "",
  accent: "#cba6f7",
};
---

<Main {...props}>
  <h1>Gallery Of lel:</h1>
  <p>Ill add lel images here</p>
</Main>
