---
import Main from "@layouts/Main.astro";
import Button from "@components/Button.astro";

const props = {
  title: "Buttons",
  desc: "Buttons I've made myself (bad)",
  keywords: "lel, nekoweb, website, button, buttons",
  imageUrl: "/images/buttons/LIES.png",
  imageWidth: 88,
  imageHeight: 31,
  imageAlt: "Lie button",
  accent: "#cba6f7",
};
---

<Main {...props}>
  <h1>Buttons</h1>
  <h2>Ones I've made for personal use</h2>
  <p>
    I dont have many, and most of these have inside lore and are NSFW, but here
    they are. They're also in the sidebar as you can see.
  </p>

  <div>
    <Button
      src="/images/buttons/subahibibutton1.png"
      title="Subahibi"
      alt="Subarashiki Hibi"
    />

    <Button
      src="/images/buttons/subahibibutton2.png"
      title="Subahibi"
      alt="Subarashiki Hibi"
    />

    <Button src="/images/buttons/butt on.png" title="Butt On" alt="Butt On" />

    <Button
      src="/images/buttons/LIES.png"
      title="LIESSSSS THEY WERE ALL LIES"
      alt="lyes"
    />

    <Button
      src="/images/buttons/lel@Button.png"
      title="lel@button"
      alt="lel@nekoweb button"
    />
  </div>
  <br />
  <h2>NSFW Buttons Archive</h2>
  <p>
    Here's some archived and aggregated NSFW buttons, like the ones you can see
    on the sidebar, they're tricky to find in the sea of button on most button
    lists, so I want to make them easier to find.
  </p>
  <h3>Currently a WIP</h3>
</Main>
