---
import ButtonTextarea from "@components/ButtonTextarea.astro";
import Main from "@layouts/Main.astro";

const props = {
  title: "Buttons",
  desc: "Buttons I've made myself (bad)",
  keywords: "lel, nekoweb, website, button, buttons",
  imageUrl: "/images/buttons/LIES.png",
  imageWidth: 88,
  imageHeight: 31,
  imageAlt: "Lie button",
  accent: "#cba6f7",
};
---

<Main {...props}>
  <h1>Buttons</h1>
  <h2>Ones I've made for personal use</h2>
  <p>
    I dont have many, and most of these have inside lore and are NSFW, but here
    they are. They're also in the sidebar as you can see.
  </p>

  <div>
    <ButtonTextarea
      src="/images/buttons/subahibibutton1.png"
      title="Subahibi"
      alt="Subarashiki Hibi"
      loading="eager"
    />

    <ButtonTextarea
      src="/images/buttons/subahibibutton2.png"
      title="Subahibi"
      alt="Subarashiki Hibi"
      loading="eager"
    />

    <ButtonTextarea
      src="/images/buttons/butt on.png"
      title="Butt On"
      alt="Butt On"
      loading="eager"
    />

    <ButtonTextarea
      src="/images/buttons/LIES.png"
      title="LIESSSSS THEY WERE ALL LIES"
      alt="lyes"
      loading="eager"
    />

    <ButtonTextarea
      src="/images/buttons/lel@Button.png"
      title="lel@button"
      alt="lel@nekoweb button"
      loading="eager"
    />
  </div>
  <br />
  <h2>NSFW Buttons Archive</h2>
  <p>
    Here's some archived and aggregated NSFW buttons, like the ones you can see
    on the sidebar, they're tricky to find in the sea of button on most button
    lists, so I want to make them easier to find.
  </p>
  <div class="array">
    <ButtonTextarea
      loading="eager"
      src="https://zanarkand.neocities.org/foryou/fubutton31.png"
      title="HENTAI FREE"
      alt="no hentai button"
    />
    <ButtonTextarea
      loading="eager"
      src="https://zanarkand.neocities.org/foryou/fubutton14.png"
      title="Panties shimapan"
      alt="shimapan Button"
    />
    <ButtonTextarea
      loading="eager"
      src="https://cyber.dabamos.de/88x31/lolicon14.gif"
      title="Lolicon Butt"
      alt="Lolicon Button"
    />
    <ButtonTextarea
      loading="eager"
      src="https://cyber.dabamos.de/88x31/lolicon15.gif"
      title="Lolicon Butt"
      alt="Lolicon Button"
    />
    <ButtonTextarea
      loading="eager"
      src="https://cyber.dabamos.de/88x31/nanoha.gif"
      title="Nanoha"
      alt="Nanoha Button"
    />
    <ButtonTextarea
      loading="eager"
      src="https://cyber.dabamos.de/88x31/notall.gif"
      title="Not all"
      alt="Not all Button"
    />
    <ButtonTextarea
      loading="eager"
      src="https://cyber.dabamos.de/88x31/nya2.gif"
      title="Nya"
      alt="Nyaa Button"
    />
    <ButtonTextarea
      loading="eager"
      src="https://cyber.dabamos.de/88x31/rorikon.gif"
      title="Rorikon"
      alt="Lolicon Button"
    />
    <ButtonTextarea
      loading="eager"
      src="https://cyber.dabamos.de/88x31/sunaneko.gif"
      title="Kemono Friends"
      alt="Kemono Button"
    />
    <ButtonTextarea
      loading="eager"
      src="https://cyber.dabamos.de/88x31/softcute.gif"
      title="Soft & Cute"
      alt="Soft and cute button"
    />
    <ButtonTextarea
      loading="eager"
      src="https://cyber.dabamos.de/88x31/underwear.gif"
      title="Underwear"
      alt="Anime underwear Button"
    />
  </div>
</Main>
<style>
  .array {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
</style>
