---
import ButtonTextarea from "@components/MainPage/ButtonTextarea.astro";
import Main from "@layouts/Main.astro";

const props = {
  title: "Buttons",
  desc: "Buttons I've made myself (bad)",
  keywords: "lel, nekoweb, website, button, buttons",
  imageUrl: "/images/buttons/LIES.png",
  imageWidth: 88,
  imageHeight: 31,
  imageAlt: "Lie button",
  accent: "#cba6f7",
};
---

<Main {...props}>
  <h1>Buttons</h1>
  <h2>Ones I've made for personal use</h2>
  <p>
    I dont have many, and most of these have inside lore and are NSFW, but here
    they are. They're also in the sidebar as you can see.
  </p>

  <div>
    <ButtonTextarea
      src="/images/buttons/subahibibutton1.png"
      title="Subahibi"
      alt="Subarashiki Hibi"
      loading="eager"
    />

    <ButtonTextarea
      src="/images/buttons/subahibibutton2.png"
      title="Subahibi"
      alt="Subarashiki Hibi"
      loading="eager"
    />

    <ButtonTextarea
      src="/images/buttons/butt on.png"
      title="Butt On"
      alt="Butt On"
      loading="eager"
    />

    <ButtonTextarea
      src="/images/buttons/LIES.png"
      title="LIESSSSS THEY WERE ALL LIES"
      alt="lyes"
      loading="eager"
    />

    <ButtonTextarea
      src="/images/buttons/lel@Button.png"
      title="lel@button"
      alt="lel@nekoweb button"
      loading="eager"
    />
  </div>
</Main>
<style>
  .array {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
</style>
