.discord-text {
  display: inline-block;
  margin: auto;
  text-align: left;
}

#discord-widget {
  width: 450px;
  max-width: 100%;
  margin: 5px auto;
  padding: 10px;

  text-align: left;

  background: linear-gradient(#1f1d2e 0 calc(90px), #26233a calc(90px) 100%);
  border: 8px solid #191724;
  box-shadow: 0 0 10px black;
}

#discord-widget * {
  color: #e0def4;
  vertical-align: middle;
}

#discord-pfp {
  width: 50px;
  margin: 10px;
  border: 3px solid #1f1d2e;
}

#discord-username {
  display: inline-block;
  color: grey;
}

#discord-rpc {
  position: relative;
  margin-top: 25px;
}

#discord-activity-img {
  width: 100px;
  margin: 10px;
}

#discord-activity-miniimg {
  position: absolute;
  top: 75px;
  left: 75px;

  display: block;

  width: 40px;
  height: 40px;
}

#discord-activity-details,
#discord-activity-state {
  font-size: 14px !important;
}
