songBox {
  background-image: linear-gradient(to right, #1e1e2e, #11111b9a),
    url("https://lel.hadsex.today/71yAPps17.png");
  background-size: cover;
  border: 5px ridge #cba6f7;
}

siteName {
  margin: auto;
  font-size: 1.5vmin;
  color: #a6adc8;
}

trackInfo {
  width: fit-content;
}

trackCover {
  float: left;
  height: 150px;
}

trackName {
  font-size: 2vmin;
  font-weight: bold;
  color: #cdd6f4;
}

artistName {
  margin: 5px auto;
  font-size: 1vmax;
  color: #a6adc8;
}

searchButton {
  padding: 4px;

  font-size: 1vmax;
  color: #a6adc8;
  text-decoration: none;

  background: #313244;
}
