songBox {
  border: 5px ridge #cba6f7;
  background-image: linear-gradient(#1e1e2ebd, #11111bf5),
    url(https://lel.nekoweb.org/assets/images/twirly.png);
  background-size: cover;
}

siteName {
  margin: auto;
  color: #a6adc8;
  font-size: 1.5vmin;
}

trackInfo {
  width: fit-content;
}

trackCover {
  float: left;
  height: 150px;
  animation: album-spin 10s infinite;
}

trackName {
  color: #cdd6f4;
  font-weight: bold;
  font-size: 2vmin;
}

artistName {
  margin: 5px auto;
  color: #a6adc8;
  font-size: 1vmax;
}

searchButton {
  background: #313244;
  padding: 4px;
  color: #a6adc8;
  font-size: 1vmax;
  text-decoration: none;
}

@keyframes album-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
