@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/IosevkaEtoile/WOFF2/IosevkaEtoile-Thin.woff2") format("woff2"),
    url("/fonts/IosevkaEtoile/TTF/IosevkaEtoile-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/IosevkaEtoile/WOFF2/IosevkaEtoile-ThinItalic.woff2") format("woff2"),
    url("/fonts/IosevkaEtoile/TTF/IosevkaEtoile-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/IosevkaEtoile/WOFF2/IosevkaEtoile-ExtraLight.woff2") format("woff2"),
    url("/fonts/IosevkaEtoile/TTF/IosevkaEtoile-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/IosevkaEtoile/WOFF2/IosevkaEtoile-ExtraLightItalic.woff2") format("woff2"),
    url("/fonts/IosevkaEtoile/TTF/IosevkaEtoile-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/IosevkaEtoile/WOFF2/IosevkaEtoile-Light.woff2") format("woff2"),
    url("/fonts/IosevkaEtoile/TTF/IosevkaEtoile-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/IosevkaEtoile/WOFF2/IosevkaEtoile-LightItalic.woff2") format("woff2"),
    url("/fonts/IosevkaEtoile/TTF/IosevkaEtoile-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/IosevkaEtoile/WOFF2/IosevkaEtoile-Regular.woff2") format("woff2"),
    url("/fonts/IosevkaEtoile/TTF/IosevkaEtoile-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/IosevkaEtoile/WOFF2/IosevkaEtoile-Italic.woff2") format("woff2"),
    url("/fonts/IosevkaEtoile/TTF/IosevkaEtoile-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/IosevkaEtoile/WOFF2/IosevkaEtoile-Medium.woff2") format("woff2"),
    url("/fonts/IosevkaEtoile/TTF/IosevkaEtoile-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/IosevkaEtoile/WOFF2/IosevkaEtoile-MediumItalic.woff2") format("woff2"),
    url("/fonts/IosevkaEtoile/TTF/IosevkaEtoile-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/IosevkaEtoile/WOFF2/IosevkaEtoile-SemiBold.woff2") format("woff2"),
    url("/fonts/IosevkaEtoile/TTF/IosevkaEtoile-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/IosevkaEtoile/WOFF2/IosevkaEtoile-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/IosevkaEtoile/TTF/IosevkaEtoile-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/IosevkaEtoile/WOFF2/IosevkaEtoile-Bold.woff2") format("woff2"),
    url("/fonts/IosevkaEtoile/TTF/IosevkaEtoile-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/IosevkaEtoile/WOFF2/IosevkaEtoile-BoldItalic.woff2") format("woff2"),
    url("/fonts/IosevkaEtoile/TTF/IosevkaEtoile-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/IosevkaEtoile/WOFF2/IosevkaEtoile-ExtraBold.woff2") format("woff2"),
    url("/fonts/IosevkaEtoile/TTF/IosevkaEtoile-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/IosevkaEtoile/WOFF2/IosevkaEtoile-ExtraBoldItalic.woff2") format("woff2"),
    url("/fonts/IosevkaEtoile/TTF/IosevkaEtoile-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/IosevkaEtoile/WOFF2/IosevkaEtoile-Heavy.woff2") format("woff2"),
    url("/fonts/IosevkaEtoile/TTF/IosevkaEtoile-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/IosevkaEtoile/WOFF2/IosevkaEtoile-HeavyItalic.woff2") format("woff2"),
    url("/fonts/IosevkaEtoile/TTF/IosevkaEtoile-HeavyItalic.ttf") format("truetype");
}
