---
import Link from "@components/Link.astro";
import Main from "@layouts/Main.astro";

const props = {
  title: "Cool shit I like",
  desc: "Cooool shit ive seen",
  keywords: "lel, nekoweb, website, button, buttons",
  imageUrl: "/images/opengraph/nhk.jpg",
  imageWidth: 1200,
  imageHeight: 1200,
  imageAlt: "misaki",
  accent: "#cba6f7",
};

import catppuccin from "/src/assets/images/CoolShit/catppuccin.png";
import rosepine from "/src/assets/images/CoolShit/rosepine.svg";
---

<Main {...props}>
  <div style="overflow:auto; max-height:72vh;">
    <h1>Cool stuff I found</h1>
    <p>Random cool things I found online that I wanted to share</p>
    <h2>Themes</h2>
    <Link
      title="Everforest"
      desc="Nice green theme"
      link="https://github.com/sainnhe/everforest"
      bgColor="#1e2326"
      borderColor="#dbbc7f"
      textColor="#d3c6aa"
    />
    <Link
      title="Catppuccin"
      desc="Cool Pastell theme"
      link="https://github.com/catppuccin/catppuccin"
      bgColor="#1e1e2e"
      borderColor="#cba6f7"
      textColor="#cdd6f4"
      image={catppuccin}
    />
    <Link
      title="Rosé Pine"
      desc="Similar to Catppuccin"
      link="https://rosepinetheme.com/palette/ingredients/#rose-pine"
      bgColor="#191724"
      borderColor="#eb6f92"
      textColor="#e0def4"
      image={rosepine}
    />
    <h2></h2>
  </div>
</Main>
