---
type Props = Record<string, never>;

import { Image } from "astro:assets";

import loading from "@assets/images/NekoFM/loading.png";
import palestinetoria from "@assets/images/mainPage/palestineCastoria.gif";
import palestineko from "@assets/images/mainPage/palestineko.avif";
---

<div id="nekoverts" transition:persist>
  <div style="overflow:auto; max-height: 100%;">
    <div id="scrobbled">
      <h2 id="lastfm-status">Loading...</h2>
      <div id="songBox">
        <Image
          id="trackCover"
          decoding="async"
          loading="eager"
          src={loading}
          alt=""
          height="150"
          width="150"
        />
        <div class="trackInfo" id="trackInfo">
          <h2 class="trackName" id="trackName">Loading...</h2>
          <p class="artistName" id="artistName">Loading...</p>
          <p class="siteName" id="siteName"></p>
        </div>
        <script src="/src/scripts/lastfm.ts"></script>
        <a id="commitLink" href="#" target="_blank">
          <div>
            <div>
              <p id="shortHash"></p>
              <p id="commitLatest">
                <br />
                Loading...
              </p>
            </div>
          </div>
        </a>
        <script src="/src/scripts/github.ts"></script>

        <a href="https://pure.nekoweb.org/">
          <Image src={palestineko} alt="Palestine Neko" loading="eager" />
        </a>

        <Image src={palestinetoria} alt="Palestine Castoria" loading="eager" />
        <iframe
          title="NekoLink"
          width="200"
          height="200"
          style=" height: 200px;border: none;"
          src="https://rice.nekoweb.org/nekolink.html"
          loading="lazy"></iframe>
      </div>
    </div>
  </div>
</div>
<style>
  #commitLink {
    font-size: 12px;
    text-decoration: none;
  }

  #commitLink > div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #commitLink > div > div {
    border: 3px dashed var(--foreground);
    color: var(--accent);
    background-color: var(--background);
    transition: background-color 1s;
  }

  #commitLink > div > div:hover {
    border: 3px dashed var(--accent);
  }

  #shortHash {
    color: var(--foreground);
    background-color: var(--accent);
  }
</style>
