.discordText {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: auto;
  text-align: left;
  display: inline-block;
}

#discord-widget {
  background: linear-gradient(#1f1d2e 0 calc(100px), #26233a calc(100px) 100%);
  padding: 20px;
  border: 8px solid #191724;
  margin: 5px auto;
  box-shadow: 0 0 10px black;
  text-align: left;
  width: 450px;
}

#discord-widget * {
  vertical-align: middle;
  color: #e0def4;
}

#discord-pfp {
  margin: 10px;
  width: 50px;
  border: 3px solid #1f1d2e;
}

#discord-username {
  display: inline-block;
  color: grey;
}

#discord-rpc {
  margin-top: 35px;
  position: relative;
}

#discord-activity-img {
  margin: 10px;
  width: 100px;
}

#discord-activity-miniimg {
  height: 40px;
  width: 40px;
  display: block;
  position: absolute;
  top: 75px;
  left: 75px;
}

#discord-activity-details,
#discord-activity-state {
  font-size: 12px !important;
}
