---
type Props = Record<string, never>;
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const posts = await getCollection("blog");

// Sort posts by date (assuming you have a date field in frontmatter)
const sortedPosts = posts.sort(
  (a, b) => new Date(a.data.date).getTime() - new Date(b.data.date).getTime()
);
---

<section id="sidebar" transition:persist>
  <div>
    <h2>Blogs:</h2>
    <ul style="padding: 0;">
      {
        sortedPosts.map((post) => (
          <li style="margin: 16px 0">
            <a class="index-link" href={`/blogs/${post.id}`}>
              {post.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div>
    <h2>Links:</h2>
    <p>
      <a href="https://remblanc.nekoweb.org"
        ><Image
          src="https://remblanc.nekoweb.org/images/button.png"
          alt="remblanc"
          title="remblanc's incredible site"
          width="88"
          height="31"
        /></a
      >
    </p>
    <p>
      <a href="https://nekoweb.org">The Nekowebs</a>
    </p>
    <p><a href="/">Back to the Main page</a></p>
  </div>
</section>
