---
type Props = Record<string, never>;

import { Image } from "astro:assets";
---

<div id="buttons">
  <br /><br />
  <div
    style="overflow: auto; height:93%; text-align: center;image-rendering: pixelated;"
  >
    <a
      href="https://hillhouse.neocities.org/journal/notes/palestine"
      target="_blank"
      ><Image
        decoding="async"
        loading="eager"
        src="https://hillhouse.neocities.org/_images/toybox/_buttons/riversea1.gif"
        title="FREE PALESTINE!!"
        alt="Palestine Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://decolonizepalestine.com/" target="_blank"
      ><Image
        decoding="async"
        loading="eager"
        src="https://goblin-heart.net/assets/images/flair/standwith.png"
        title="Decolonize Palestine site which is very useful"
        alt="decolonizepalestine Button"
        height="31"
        width="88"
      /></a
    >
    <br />
    <br />

    <a href="/buttons/"
      ><Image
        decoding="async"
        loading="eager"
        src="/images/buttons/lel@Button.png"
        title="lel@button"
        alt="lel@nekoweb button"
        height="31"
        width="88"
      /></a
    >

    <br /><br />

    <a href="/buttons/"
      ><Image
        decoding="async"
        loading="eager"
        src="/images/buttons/subahibibutton1.png"
        title="Subahibi"
        alt="Subarashiki Hibi"
        height="31"
        width="88"
      /></a
    >
    <a href="/buttons/"
      ><Image
        decoding="async"
        loading="eager"
        src="/images/buttons/subahibibutton2.png"
        title="Subahibi"
        alt="Subarashiki Hibi"
        height="31"
        width="88"
      /></a
    >
    <a href="/buttons/"
      ><Image
        decoding="async"
        loading="eager"
        src="/images/buttons/butt on.png"
        title="Butt On"
        alt="Butt On"
        height="31"
        width="88"
      /></a
    >
    <a href="https://trademarkhell.net" target="_blank"
      ><Image
        decoding="async"
        loading="eager"
        src="/images/buttons/LIES.png"
        title="LIESSSSS THEY WERE ALL LIES"
        alt="lyes"
        height="31"
        width="88"
      /></a
    >

    <br /><br />

    <a href="https://cyber.dabamos.de/88x31/" target="_blank"
      ><Image
        decoding="async"
        loading="eager"
        src="https://zanarkand.neocities.org/foryou/fubutton31.png"
        title="HENTAI FREE"
        alt="no hentai button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://cyber.dabamos.de/88x31/" target="_blank"
      ><Image
        decoding="async"
        loading="eager"
        src="https://zanarkand.neocities.org/foryou/fubutton14.png"
        title="Panties shimapan"
        alt="shimapan Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://cyber.dabamos.de/88x31/" target="_blank"
      ><Image
        decoding="async"
        loading="eager"
        src="https://cyber.dabamos.de/88x31/lolicon14.gif"
        title="Lolicon Butt"
        alt="Lolicon Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://cyber.dabamos.de/88x31/" target="_blank"
      ><Image
        decoding="async"
        loading="eager"
        src="https://cyber.dabamos.de/88x31/lolicon15.gif"
        title="Lolicon Butt"
        alt="Lolicon Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://cyber.dabamos.de/88x31/" target="_blank"
      ><Image
        decoding="async"
        loading="eager"
        src="https://cyber.dabamos.de/88x31/nanoha.gif"
        title="Nanoha"
        alt="Nanoha Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://cyber.dabamos.de/88x31/" target="_blank"
      ><Image
        decoding="async"
        loading="eager"
        src="https://cyber.dabamos.de/88x31/notall.gif"
        title="Not all"
        alt="Not all Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://cyber.dabamos.de/88x31/" target="_blank"
      ><Image
        decoding="async"
        loading="eager"
        src="https://cyber.dabamos.de/88x31/nya2.gif"
        title="Nya"
        alt="Nyaa Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://cyber.dabamos.de/88x31/" target="_blank"
      ><Image
        decoding="async"
        loading="eager"
        src="https://cyber.dabamos.de/88x31/rorikon.gif"
        title="Rorikon"
        alt="Lolicon Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://cyber.dabamos.de/88x31/" target="_blank"
      ><Image
        decoding="async"
        loading="eager"
        src="https://cyber.dabamos.de/88x31/sunaneko.gif"
        title="Kemono Friends"
        alt="Kemono Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://cyber.dabamos.de/88x31/" target="_blank"
      ><Image
        decoding="async"
        loading="eager"
        src="https://cyber.dabamos.de/88x31/softcute.gif"
        title="Soft & Cute"
        alt="Soft and cute button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://cyber.dabamos.de/88x31/" target="_blank"
      ><Image
        decoding="async"
        loading="eager"
        src="https://cyber.dabamos.de/88x31/underwear.gif"
        title="Underwear"
        alt="Anime underwear Button"
        height="31"
        width="88"
      /></a
    >

    <br /><br />
    <a href="https://nekoweb.org/" target="_blank"
      ><Image
        decoding="async"
        loading="eager"
        src="https://nekoweb.org/assets/buttons/button2.gif"
        title="Nekowebbbbbbb"
        alt="Nekoweb Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://melankorin.net/" target="_blank"
      ><Image
        decoding="async"
        loading="eager"
        src="https://melankorin.net/assets/img/buttons/button-1.gif"
        title="melankorin"
        alt="melankorin Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://trademarkhell.net/" target="_blank"
      ><Image
        decoding="async"
        loading="eager"
        src="https://trademarkhell.net/tmsspecialhell.png"
        title="trademarkization company of 2003"
        alt="trademarkhell Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://dimden.dev/" target="_blank"
      ><Image
        decoding="async"
        loading="lazy"
        src="https://dimden.dev/services/images/88x31.gif"
        title="Dimden, made nekoweb"
        alt="Dimden Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://districts.nekoweb.org/" target="_blank"
      ><Image
        decoding="async"
        loading="lazy"
        src="https://districts.nekoweb.org/img/districts002.png"
        title="Nekoweb districts"
        alt="districts Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://maxpixels.moe/" target="_blank"
      ><Image
        decoding="async"
        loading="lazy"
        src="https://maxpixels.moe/images/button.png"
        title="max's apartment"
        alt="Max Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://social.nekoweb.org/" target="_blank"
      ><Image
        decoding="async"
        loading="lazy"
        src="https://social.nekoweb.org/images/nekowebcafe.png"
        title="nekocafe"
        alt="Nekocafe Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://cereza.zone/" target="_blank"
      ><Image
        decoding="async"
        loading="lazy"
        src="https://cereza.zone/res/webbutton/88x31.gif"
        title="cereza.zone"
        alt="Ceraza Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://eyeorb.net/" target="_blank"
      ><Image
        decoding="async"
        loading="lazy"
        src="https://eyeorb.net/site_button.gif"
        title="Eye"
        alt="Eyeorb's Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://joo.sh/" target="_blank"
      ><Image
        decoding="async"
        loading="lazy"
        src="https://files.joo.sh/img/buttons/jooshRice.gif"
        title="JOOOOOOOOOOOOOOSH"
        alt="joo.sh Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://oooeee.nekoweb.org" target="_blank"
      ><Image
        decoding="async"
        loading="lazy"
        src="https://oooeee.nekoweb.org/img/misc/button.png"
        title="oooeee"
        alt="oooeee Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://rice.place/" target="_blank"
      ><Image
        decoding="async"
        loading="lazy"
        src="https://rice.place/button/riceu.gif"
        title="rice meat and bokchoy"
        alt="rice Button"
        height="31"
        width="88"
      /></a
    >
    <br />
    <br />
    <a href="https://cyber.dabamos.de/88x31/" target="_blank"
      ><Image
        decoding="async"
        loading="lazy"
        src="https://cyber.dabamos.de/88x31/cuteanimegirls.gif"
        title="Animay Gurls"
        alt="Anime girl Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://anlucas.neocities.org/88x31Buttons" target="_blank"
      ><Image
        decoding="async"
        loading="lazy"
        src="https://anlucas.neocities.org/800x600.gif"
        title="Actually does look good 800x600!"
        alt="800x600 Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://cyber.dabamos.de/88x31/" target="_blank"
      ><Image
        decoding="async"
        loading="lazy"
        src="https://cyber.dabamos.de/88x31/blink-0.gif"
        title="Blink Blink"
        alt="800x600 Button"
        height="31"
        width="88"
      /></a
    >
    <a href="https://cyber.dabamos.de/88x31/" target="_blank"
      ><Image
        decoding="async"
        loading="lazy"
        src="https://cyber.dabamos.de/88x31/hartscorned.gif"
        title="Blink Blink"
        alt="800x600 Button"
        height="31"
        width="88"
      /></a
    >
  </div>
</div>
