---
import { Image } from "astro:assets";
---

<div id="lel-info">
  <Image
    src="https://api.lanyard.rest/1331059585896677378.webp"
    alt="erm"
    height="40"
    width="40"
    loading="eager"
  />
  <h2 id="name">Lelllumina</h2>
</div>

<style>
  #lel-info {
    display: flex;
    padding: 5px;
  }

  img {
    margin: auto 5px;
  }

  #name {
    margin: auto 5px;
  }
</style>
