---
import { Image } from 'astro:assets'
---

<div id="lel-info">
  <Image
    src="https://api.lanyard.rest/850319718920224798.webp"
    alt="erm"
    height="40"
    width="40"
  />
  <h2 id="name">Lelillumina</h2>
</div>

<style>
  #lel-info {
    display: flex;
    padding: 5px;
  }

  img {
    margin: auto 5px;
  }

  #name {
    margin: auto 5px;
  }
</style>
