@import url("/assets/fonts/mainpage/fonts.css");

body {
  background: linear-gradient(#00000080, #00000080),
    url("/assets/images/mainPage/background.png") repeat;
  animation: move-background 100s linear infinite;
}

a {
  transition: .5s ease-in-out;
}

a:hover {
  color: #89dceb;
}

.navbar li a:hover {
  background-color: var(--mantle);
  transition: .5s;
}

.marquee {
  animation: marquee 5s ease 1s, marquee-loop 0s ease 6s forwards;
}

#tagline {
  animation: subtitle .25s infinite alternate;
}

#nekowebring table {
  background: linear-gradient(#303446, #292c3c, #232634);
  border: #626880 2px solid;
}

footer {
  padding: 18px;
  text-align: center;
  background-color: var(--base);
}

::selection {
  color: var(--base);
  background: #89b4fa;
}

@media (width >= 601px) and (width <= 900px) {
  #frame {
    width: 35vw;
  }

  .sidebar > div {
    width: 15vw;
  }

  #pfp {
    width: 10vw;
    height: 10vw;
  }
}

@media (width <= 600px) {
  main {
    flex-direction: column;
  }

  .sidebar {
    order: 1;
    margin: auto;
  }

  .sidebar > div {
    width: 80%;
  }

  #frame {
    width: auto;
  }

  .block iframe,
  .block img {
    margin: auto;
  }
}
