/* Import Font */
@import url("/assets/fonts/mainpage/fonts.css");

/* Color Vars */
:root {
  --text: #cdd6f4;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;

  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

/* Neco arc Background and Footer placement */
body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  margin: 0;

  background: linear-gradient(#00000080, #00000080),
    url("/assets/images/mainPage/background.png") repeat;
  background-color: var(--base);
  background-attachment: fixed;

  animation: move-background 100s linear infinite;
}

/* Text formating */
h1 {
  margin: 10px auto;

  font-family: "Josefin Sans", sans-serif;
  font-size: 48 px;
  font-weight: 700;
  color: var(--text);
  text-align: left;
  text-shadow: 1px 1px #cba6f7;
}

h2 {
  margin-top: auto;
  margin-bottom: 10px;

  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: var(--text);
  text-align: center;
  text-shadow: 1px 1px #cba6f7;
}

ul,
li,
p {
  font-family: Raleway, sans-serif;
  font-size: 13px;
  color: var(--text);
}

li {
  margin: 10px auto;
}

a {
  color: #89b4fa;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

a:hover {
  color: #89dceb;
}

ul {
  margin: auto;
  padding-left: 20px;
  list-style-type: circle;
}

#navbar ul {
  overflow: hidden;

  margin: 0;
  padding: 0;

  list-style-type: none;

  background-image: linear-gradient(var(--crust), var(--mantle));
}

#navbar li {
  float: left;
  display: inline;
  margin: auto;
}

#navbar a {
  display: block;
  padding: 14px 25px;
  color: var(--text);
  text-align: center;
}

#navbar li a:hover {
  background-color: var(--mantle);
  transition: 0.5s;
}

#hamburger,
#mobile-navbar {
  display: none;
}

#title {
  margin: 10px;
  font-family: "Bungee Spice", fantasy;
  font-size: 3vw;
}

.alt {
  font-size: 12px;
  color: var(--text);
  text-align: center !important;
}

#subtitle {
  font-size: 12px !important;
  color: gray;
  text-align: center !important;
}

/* Main body CSS */

header {
  width: 75%;
  margin: 5px auto 10px;

  text-align: center;

  background-color: var(--crust);
  box-shadow: 0 3px 8px black;
}

#header {
  overflow: hidden;
  padding: 10px;
  background-image: linear-gradient(var(--mantle), var(--crust));
}

.marquee {
  position: relative;
  left: 100%;

  display: block;

  width: 100%;
  height: 100%;

  animation: marquee 5s ease 1s, marquee-loop 0s ease 6s forwards;
}

#tagline {
  position: absolute;
  top: 100px;
  left: 75%;
  transform: rotate(-20deg);

  width: fit-content;

  font-family: Monocraft, monospace;
  font-size: 20px;
  color: #ff0;
  text-shadow: 0 0 10px black, 0 0 10px black;

  background-color: transparent;

  animation: subtitle 0.25s infinite alternate;
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar > div {
  width: 250px;
}

.block {
  margin: 5px;
  padding: 20px;

  background-color: var(--base);
  border: 8px solid var(--mantle);
  box-shadow: 0 0 10px black;
}

.img {
  display: block;

  max-width: 100%;
  height: fit-content;
  margin: auto;

  border: 5px dashed #313244;
}

#views-counter {
  height: 100px;
}

#buttons {
  text-align: center;
  image-rendering: pixelated;
}

#buttons img {
  width: 88px;
  height: 31px;
  margin: 1px;
}

#frame {
  width: 600px;
  text-align: center;
}

/* stylelint-disable-next-line selector-id-pattern */
#trackInfo {
  margin-top: 18px;
}

#scrobbled {
  text-align: center;
}

#webrings {
  max-width: 100%;
}

#nekowebring table {
  background: linear-gradient(#303446, #292c3c, #232634);
  border: #626880 2px solid;
}

footer {
  padding: 18px;
  text-align: center;
  background-color: var(--base);
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #6c7086;
}

::-webkit-scrollbar-thumb {
  background: #585b70;
}

::-webkit-scrollbar-thumb:hover {
  background: #45475a;
}

::-webkit-scrollbar-thumb:active {
  background: #313244;
}

/* Text Selection */

::selection {
  color: var(--base);
  background: #89b4fa;
}

/* Mobile Responsiveness */

@media (width >= 601px) and (width <= 900px) {
  #frame {
    width: 35vw;
  }

  .sidebar > div {
    width: 15vw;
  }

  #pfp {
    width: 10vw;
    height: 10vw;
  }
}

@media (width <= 600px) {
  main {
    flex-direction: column;
  }

  .sidebar {
    order: 1;
    margin: auto;
  }

  .sidebar > div {
    width: 80%;
  }

  #frame {
    width: auto;
  }

  .block iframe,
  .block img {
    margin: auto;
  }

  #navbar {
    display: none;
  }

  #hamburger {
    display: block;
  }

  #mobile-navbar ul {
    list-style-type: none;
  }

  #mobile-navbar a {
    color: var(--text);
    text-align: center;
  }

  #mobile-navbar a:hover {
    background-color: var(--mantle);
    transition: 0.5s;
  }
}

/* Animation */

@keyframes move-background {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 100%;
  }
}

@keyframes marquee {
  0% {
    left: 100%;
  }

  100% {
    left: 0;
  }
}

@keyframes marquee-loop {
  0% {
    left: 0;
  }

  100% {
    left: 0;
  }
}

@keyframes subtitle {
  0% {
    transform: scale(0.875) rotate(-20deg);
  }

  100% {
    transform: scale(1) rotate(-20deg);
  }
}
