:root {
  color-scheme: dark;
}

body {
  display: flex;
  margin: 0 10vw;
  text-align: justify;
  background-color: #1e2326;
}

h1 {
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 800px;
  color: #d3c6aa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-family: "Courier Prime", monospace;
}

.desc {
  margin: 0;
  font-family: "Cutive Mono", monospace;
  color: #637973;
}

.date {
  margin: 0;
  font-family: "Cutive Mono", monospace;
  color: #4f5b58;
}

.alt-text {
  display: block;
  text-align: center;
}

a {
  font-family: "Jetbrains Mono", monospace;
  color: #e67e80;
  text-decoration: none;

  animation: gradient-text 5s infinite;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

.index-link {
  animation-direction: alternate-reverse;
}

a:not(:has(img)):hover {
  color: #1e2326;
  background: #7fbbb3;
  animation: 0;
}

.pic {
  display: block;

  max-width: 400px;
  margin: 15px auto;
  padding: 5px;
  border: 5px solid #4f5b58;
}

p {
  font-family: "Jetbrains Mono", monospace;
  line-height: 24px;
}

i {
  color: #83c092;
}

#bold {
  font-weight: bolder;
  color: #d699b6;
}

strong {
  color: #0000;
  background-image: linear-gradient(#83c092, #7fbbb3);
  background-clip: text;
}

small {
  font-size: 10px;
  color: #9da9a0;
}

sub {
  color: #7a8478;
}

em {
  color: #e67e80;
}

ul {
  list-style-type: none;
}

#sidebar {
  position: sticky;
  top: 10vh;

  flex-direction: column;

  max-width: 275px;
  height: fit-content;
  margin: 0 5vw;
}

.dl-link {
  display: inline-block;

  margin-left: 10px;
  padding: 5px;

  font-size: 16px;
  color: rgb(228 232 234);

  background-color: rgb(58 110 103);

  animation: none;
}

.dl-link:hover {
  color: unset;

  background-color: unset;

  animation: gradient-text 1s infinite !important;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

html {
  scroll-behavior: smooth;
}

::selection {
  color: #1e2326;
  background: #7fbbb3;
}

/* Animations */

@keyframes gradient-text {
  0% {
    color: #e67e80;
  }

  15% {
    color: #e69875;
  }

  30% {
    color: #dbbc7f;
  }

  45% {
    color: #a7c080;
  }

  60% {
    color: #83c092;
  }

  75% {
    color: #7fbbb3;
  }

  90% {
    color: #d699b6;
  }

  100% {
    color: #d3c6aa;
  }
}

/* Media queries */

@media screen and (width <= 600px) {
  body {
    flex-wrap: wrap;
  }
}
