---
import BlogLayout from "@components/Blog/BlogLayout.astro";
const title = "Hermlo to my Blog";
const desc = "This is the main page";
---

<BlogLayout {title} {desc}>
  <header>
    <h1>{title}</h1>
    <p class="date"></p>
  </header>
  <p style="width: 100vw;">Pick a blog from the right, it'll fix stuff up</p>
</BlogLayout>

<script>
  const today = new Date().toLocaleDateString();
  document.querySelector(".date")!.textContent = `Today is ${today}`;
</script>
