---
import BlogLayout from "../../layouts/BlogLayout.astro";
---

<BlogLayout>
  <header>
    <h1>Hermlo to my bloughg</h1>
    <p class="date"></p>
  </header>
  <p style="width: 100vw;">
    Mind the bad spacing. Pick a blog from the right, it'll fix stuff up
  </p>
</BlogLayout>

<script>
  const today = new Date().toLocaleDateString();
  document.querySelector(".date")!.textContent = `Today is ${today}`;
</script>
