.listening {
  margin: 0;
  border: 4px ridge aliceblue;
  background-color: #111;
  padding: 20px;
  width: min-content;
  height: auto;
  max-height: min-content;
}

.container {
  position: relative;
  contain: content;
  margin: 0;
  padding: 20px;
  width: auto;
  max-width: 220px;
  height: auto;
  overflow: hidden;
}

.trackCover {
  float: left;
  margin-bottom: 15px;
  height: 150px;
}

.artistName {
  font-size: 3vmin;
}

.trackName {
  font-size: 3.5vmin;
}

.searchButton {
  font-size: 2.5vmin;
}
