.listening {
  background-color: #111;
  border: 4px ridge aliceblue;
}

.trackCover {
  border-radius: var(--coverBorder);
}

@media only screen and (width >= 860px) {
  .listening {
    background-color: #111;
    border: 4px ridge aliceblue;
    display: flex;
    padding: 20px;
    margin: 0;
    align-items: center;
    min-width: 250px;
  }

  .container {
    max-width: 33%;
    padding: 15px;
    margin: 0;
    overflow: hidden;
    position: relative;
    contain: content;
  }

  .trackCover {
    border-radius: var(--coverBorder);
    height: 150px;
    float: left;
    margin-right: 20px;
  }
}
