@media (prefers-color-scheme: light) {
  :root {
    --text: #111212;
    --background: #e8fdfd;
    --primary: #5a3a3a;
    --secondary: #d08686;
    --accent: #fa2929;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --text: #edeeee;
    --background: #021717;
    --primary: #c5a5a5;
    --secondary: #792f2f;
    --accent: #d40505;
  }
}

/* Set sizing for songboxes */
* {
  box-sizing: border-box;
}

body {
  font-family: "Jetbrains Mono", "Courier New", courier, monospace;
  font-weight: bolder;
  color: var(--text);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  min-height: max-content;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
  margin: auto;
}

#logo {
  height: 50px;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10px 0;
  font-size: 22px;
}

#tagline {
  opacity: 1;
  transition: opacity 1s;
}

.hide {
  opacity: 0 !important;
}

p {
  margin: auto;
  color: silver;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: darkgray;
}

/* Navbar stuff */

#navbar {
  display: inline;
}

#navbar ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  float: right;
}

#navbar li {
  display: inline;
  float: left;
  margin: auto;
}

#navbar a {
  display: block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 14px 25px;
}

#navbar .activeNavLink {
  color: var(--accent);
}

.siteName {
  margin: auto;
  color: darkgray;
  font-size: 12px !important;
}

.credit {
  font-size: 16px;
}

footer {
  margin: 20px auto;
  width: fit-content;
}

.button {
  background-color: unset;
  border: none;
  font-size: 25px;
  float: right;
  margin: 10px;
  cursor: pointer;
}

#counter,
#total,
.counterType {
  font-size: 25px;
  margin: 10px;
  display: inline;
}

.counterType {
  margin: 10px 0 10px 100px;
}

#title {
  margin: 25px;
}

#reload {
  font-size: 25px;
}

#loading {
  filter: opacity(20%) grayscale(80%);
}

#loading,
#scrobbling,
#offline {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  min-height: 30%;
}

#offline {
  filter: opacity(50%) grayscale(50%);
}

.seperator {
  text-align: center;
  margin: 25px;
}

.container * {
  font-family: "JetBrains Mono", "Courier New", courier, monospace !important;
}

.trackName {
  font-size: 16px !important;
  font-weight: bold;
}

.artistName {
  font-size: 16px !important;
  margin: 5px auto;
}

.searchButton {
  color: #fff;
  background: #303030;
  font-size: 10px !important;
  padding: 4px;
  text-decoration: none;
}

@font-face {
  font-family: "Jetbrains Mono";
  src: url("/assets/fonts/Jetbrains/JetBrainsMonoNerdFontMono-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Jetbrains Mono";
  src: url("/assets/fonts/Jetbrains/JetBrainsMonoNerdFontMono-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Jetbrains Mono";
  src: url("/assets/fonts/Jetbrains/JetBrainsMonoNerdFontMono-ExtraBold.ttf");
  font-style: normal;
  font-weight: bolder;
}
