---
interface Props {
  title: string;
  desc: string;
  keywords: string;
  imageUrl: string;
  imageWidth: number;
  imageHeight: number;
  imageAlt: string;
  accent: string;
}

import Adverts from "@components/Adverts.astro";
import Buttons from "@components/Buttons.astro";
import LelInfo from "@components/LelInfo.astro";
import List from "@components/List.astro";
import Socials from "@components/Socials.astro";
import Outer from "./Outer.astro";
import "@fontsource/dm-mono/400.css";
import "@fontsource/dm-mono/500.css";
import "@fontsource/ibm-plex-mono/400.css";
import "@fontsource/ibm-plex-mono/700.css";
import "@styles/main.css";
import ClarityHashtagSolid from "~icons/clarity/hashtag-solid";

const props = Astro.props;
const { title, desc } = props;
---

<style>
  :root {
    --background: oklch(19% 0 0deg);
    --foreground: oklch(31% 0 0deg);
    --text: oklch(80% 0 0deg);
    --text-dark: oklch(60% 0 0deg);
    --text-darker: oklch(40% 0 0deg);
    --accent: oklch(78.71% 0.1187 304.77deg);
    --link: oklch(73% 0.12 200deg);
  }

  #themes {
    position: fixed;
    z-index: 2;
    right: 10px;
    bottom: 10px;

    padding: 10px;

    color: var(--text);

    background: var(--foreground);
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  }

  #theme-dropdown {
    padding: 5px;

    font-size: 1rem;
    color: var(--text);

    background: var(--background);
    border: none;
  }
</style>

<Outer {...props}>
  <Buttons />
  <List />
  <LelInfo />
  <div id="page-info">
    <ClarityHashtagSolid id="hashtag" />
    <h2>lel@nekoweb</h2>
    <p>
      {title}
    </p>
    <Socials />
  </div>

  <div id="themes">
    <script src="/src/scripts/themes.ts"></script>
    <script>
      import { setTheme } from "../scripts/themes";
      function loadTheme(): void {
        const savedTheme = localStorage.getItem("theme") || "default";
        setTheme(savedTheme);
      }
      document.addEventListener("astro:after-swap", loadTheme);
      loadTheme();
    </script>

    <label for="theme-dropdown">Select Theme:</label>
    <select id="theme-dropdown">
      <option value="default">Default</option>
      <option value="catppuccin">Catppuccin</option>
      <option value="rosepine">Rose Pine</option>
      <option value="jollytheme">Jolly Theme</option>
    </select>
  </div>

  <div id="page" transition:animate="fade">
    <slot />
  </div>
  <div id="marquee">
    <marquee behaviour="scroll" direction="left" id="theMarquee"
      >{desc}<span id="tagline"></span></marquee
    >
  </div>
  <Adverts />

  <Fragment slot="head"
    ><link
      rel="dns-prefetch preconnect"
      href="https://hillhouse.neocities.org/"
    />
    <link
      rel="dns-prefetch preconnect"
      href="https://decolonizepalestine.com/"
    />
    <link rel="dns-prefetch preconnect" href="https://nekoweb.org/" />
    <link rel="dns-prefetch preconnect" href="https://melankorin.net" />
    <link rel="dns-prefetch preconnect" href="https://trademarkhell.net/" />
    <link rel="dns-prefetch preconnect" href="https://dimden.dev/" />
    <link rel="dns-prefetch preconnect" href="https://districts.nekoweb.org" />
    <link rel="dns-prefetch preconnect" href="https://maxpixels.moe/" />
    <link rel="dns-prefetch preconnect" href="https://social.nekoweb.org/" />
    <link rel="dns-prefetch preconnect" href="https://cereza.zone/" />
    <link rel="dns-prefetch preconnect" href="https://anlucas.neocities.org/" />
    <link rel="dns-prefetch preconnect" href="https://cyber.dabamos.de/" />
    <link rel="dns-prefetch preconnect" href="https://eyeorb.net/" />
    <link rel="dns-prefetch preconnect" href="https://rice.place/" />
    <slot name="head" />
    <script src="/src/scripts/tagline.ts"></script>
  </Fragment>
</Outer>
