* {
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
}

html {
  overflow: hidden !important;
}

img {
  pointer-events: none;
}

.background {
  position: fixed;
  z-index: -5;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-image: url("/assets/images/CC/L.jpg"),
    url("/assets/images/CC/R.jpg");
  background-size: cover;
  background-blend-mode: lighten;
  filter: saturate(90%) brightness(65%) contrast(150%) hue-rotate(20deg);
}

#sparkle {
  position: fixed;
  z-index: -4;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
}

#flowers {
  position: absolute;
  z-index: -1;
  top: 0;

  width: 100vw;
  height: 100vh;

  filter: opacity(60%) contrast(140%) hue-rotate(20deg);
}

#spintop,
#spinbottom {
  position: absolute;
  z-index: -2;
  filter: opacity(80%) saturate(60%) hue-rotate(20deg);
  animation: spin 5s linear infinite;
}

#spintop {
  top: 0;
  right: 0;
}

#spinbottom {
  bottom: 0;
  left: 0;
}

#corner {
  position: absolute;
  z-index: -3;
  top: 0;

  width: auto;
  height: 100vh;

  filter: opacity(50%) contrast(150%) hue-rotate(20deg);
}

#hanging {
  position: absolute;
  z-index: -3;
  top: 0;
  right: 0;

  width: auto;
  height: 100vh;

  filter: opacity(50%) contrast(150%) hue-rotate(20deg);
}

#content {
  width: 80vw;
  height: 65vh;
  margin: auto;
  margin-top: 100px;

  text-shadow: 0 0 10px black, 0 0 10px black;

  background: rgb(100 200 100 / 50%);
  background-image: url("/assets/images/CC/heart.png"),
    url("/assets/images/CC/transbayer8.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
  background-blend-mode: overlay;
  filter: none;
  border: 15px solid transparent;
  box-shadow: 0 0 5px #0e0, 0 0 5px #0e0 inset;

  animation: bub 3s infinite;

  #text {
    margin: 20px 100px 20px 300px;
    color: whitesmoke;
  }

  h1,
  h2,
  p {
    padding: 10px;
  }

  p {
    font-size: 17px;
  }
}

#waifu {
  position: fixed;
  bottom: 0;
  transform: rotateY(180deg);

  height: 95vh;

  filter: drop-shadow(6px 6px 10px black);

  animation: fade 1s linear infinite;
}

@keyframes bub {
  0% {
    box-shadow: 0 0 5px #0e0, 0 0 5px #0e0 inset;
  }

  33% {
    box-shadow: 0 0 10px #0e0, 0 0 0 #0e0 inset;
  }

  66% {
    box-shadow: 0 0 5px #0e0, 0 0 10px #0e0 inset;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
