.listening {
  border: 4px ridge aliceblue;
  background-color: #111;
}

.trackCover {
  border-radius: var(--coverBorder);
}

@media only screen and (width >= 860px) {
  .listening {
    display: flex;
    align-items: center;
    margin: 0;
    border: 4px ridge aliceblue;
    background-color: #111;
    padding: 20px;
    min-width: 250px;
  }

  .container {
    position: relative;
    contain: content;
    margin: 0;
    padding: 15px;
    max-width: 33%;
    overflow: hidden;
  }

  .trackCover {
    float: left;
    margin-right: 20px;
    border-radius: var(--coverBorder);
    height: 150px;
  }
}
