/* stylelint-disable */
@media (prefers-color-scheme: light) {
  :root {
    --text-50: #f1f8ec;
    --text-100: #e2f2d9;
    --text-200: #c5e5b3;
    --text-300: #a9d88d;
    --text-400: #8ccb67;
    --text-500: #6fbe41;
    --text-600: #599834;
    --text-700: #437227;
    --text-800: #2c4c1a;
    --text-900: #16260d;
    --text-950: #0b1307;

    --background-50: #f0f8ec;
    --background-100: #e0f1da;
    --background-200: #c2e4b4;
    --background-300: #a3d68f;
    --background-400: #84c969;
    --background-500: #66bb44;
    --background-600: #519636;
    --background-700: #3d7029;
    --background-800: #294b1b;
    --background-900: #14250e;
    --background-950: #0a1307;

    --primary-50: #f0f9ec;
    --primary-100: #e2f2d9;
    --primary-200: #c4e6b3;
    --primary-300: #a7d98c;
    --primary-400: #8acc66;
    --primary-500: #6cbf40;
    --primary-600: #579933;
    --primary-700: #417326;
    --primary-800: #2b4d19;
    --primary-900: #16260d;
    --primary-950: #0b1306;

    --secondary-50: #eceef8;
    --secondary-100: #d9def2;
    --secondary-200: #b3bce5;
    --secondary-300: #8d9bd8;
    --secondary-400: #6779cb;
    --secondary-500: #4158be;
    --secondary-600: #344698;
    --secondary-700: #273572;
    --secondary-800: #1a234c;
    --secondary-900: #0d1226;
    --secondary-950: #070913;

    --accent-50: #f3ecf8;
    --accent-100: #e6d9f2;
    --accent-200: #ceb3e5;
    --accent-300: #b58dd8;
    --accent-400: #9c67cb;
    --accent-500: #8441be;
    --accent-600: #693498;
    --accent-700: #4f2772;
    --accent-800: #351a4c;
    --accent-900: #1a0d26;
    --accent-950: #0d0713;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: #0b1307;
    --text-100: #16260d;
    --text-200: #2c4c1a;
    --text-300: #437227;
    --text-400: #599834;
    --text-500: #6fbe41;
    --text-600: #8ccb67;
    --text-700: #a9d88d;
    --text-800: #c5e5b3;
    --text-900: #e2f2d9;
    --text-950: #f1f8ec;

    --background-50: #0a1307;
    --background-100: #14250e;
    --background-200: #294b1b;
    --background-300: #3d7029;
    --background-400: #519636;
    --background-500: #66bb44;
    --background-600: #84c969;
    --background-700: #a3d68f;
    --background-800: #c2e4b4;
    --background-900: #e0f1da;
    --background-950: #f0f8ec;

    --primary-50: #0b1306;
    --primary-100: #16260d;
    --primary-200: #2b4d19;
    --primary-300: #417326;
    --primary-400: #579933;
    --primary-500: #6cbf40;
    --primary-600: #8acc66;
    --primary-700: #a7d98c;
    --primary-800: #c4e6b3;
    --primary-900: #e2f2d9;
    --primary-950: #f0f9ec;

    --secondary-50: #070913;
    --secondary-100: #0d1226;
    --secondary-200: #1a234c;
    --secondary-300: #273572;
    --secondary-400: #344698;
    --secondary-500: #4158be;
    --secondary-600: #6779cb;
    --secondary-700: #8d9bd8;
    --secondary-800: #b3bce5;
    --secondary-900: #d9def2;
    --secondary-950: #eceef8;

    --accent-50: #0d0713;
    --accent-100: #1a0d26;
    --accent-200: #351a4c;
    --accent-300: #4f2772;
    --accent-400: #693498;
    --accent-500: #8441be;
    --accent-600: #9c67cb;
    --accent-700: #b58dd8;
    --accent-800: #ceb3e5;
    --accent-900: #e6d9f2;
    --accent-950: #f3ecf8;
  }
}
